# Pointing Technique Study

a short documentation of your test design (pointing technique, hypotheses, variables, participants)

We conduct a study in which we measure the reaction time of a user to click the correct circle. 


TODO describe conditions

Counter balanced

## Setup

## Pointing Technique

TODO what is our pointing technique

## Hypotheses

## Variables

## Participants

### Import all relevant libraries

In [53]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import pingouin as pg
from matplotlib import pyplot as plt

# Pointing Technique Analayis

## Structured Analysis
a structured analysis of your test results (i.e., programmatically reading in the CSV files, grouping data by conditions, etc.)

### Read csv file

In [54]:
# TODO participants table
raw_data_1 = pd.read_csv("./test.csv")
raw_data_2 = pd.read_csv("./test2.csv")

### Combine the individual tables of the participants and save them

In [58]:
pointing_technique_table = pd.concat([
    raw_data_1, 
    raw_data_2,                      
])

pointing_technique_table.to_csv(
    "pointing_technique_table.csv",
    # sep = ',', 
    # names=['participant_id', 'condition', 'distance_to_start_position', 'is_target'],
    index=False
)

pointing_technique_table

,participant_id,condition,mouse_start_x_position,mouse_start_y_position,mouse_clicked_x_position,mouse_clicked_y_position,distance_to_start_position,circle_count,is_circle_clicked,is_target,reaction_time_in_ms,timestamp,round
0,1,condition1,0,0,240,410,475.078941,30,False,False,NaN,2021-05-08 16:46:40.466075,0
1,1,condition1,0,0,775,721,1058.520666,30,True,False,NaN,2021-05-08 16:46:41.034197,0
2,1,condition1,0,0,827,690,1077.046424,30,True,True,2599.928,2021-05-08 16:46:41.469907,1
3,1,condition1,0,0,861,689,1102.742944,30,True,True,922.314,2021-05-08 16:46:43.843305,2
4,1,condition1,0,0,393,584,703.921160,30,False,False,NaN,2021-05-08 16:46:44.848805,2
5,1,condition1,0,0,827,690,1077.046424,30,True,True,1477.566,2021-05-08 16:46:45.598627,3
6,1,condition1,0,0,870,684,1106.686948,30,True,True,823.794,2021-05-08 16:46:46.760130,4
7,1,condition1,0,0,362,541,650.941626,30,False,False,NaN,2021-05-08 16:46:47.458911,4
8,1,condition1,0,0,837,673,1074.010242,30,True,True,778.854,2021-05-08 16:46:47.867455,5
9,1,condition1,0,0,837,674,1074.637148,30,True,True,750.288,2021-05-08 16:46:49.029874,6
10,1,condition1,0,0,855,689,1098.064661,30,True,True,909.0169999999999,2021-05-08 16:46:50.518630,7
11,1,condition1,0,0,856,690,1099.470782,30,True,True,703.637,2021-05-08 16:46:51.608239,8
12,1,condition1,0,0,857,673,1089.668757,30,True,True,567.856,2021-05-08 16:46:52.544697,9
13,1,condition1,0,0,853,675,1087.765600,30,True,True,614.205,2021-05-08 16:46:53.376056,10
14,1,condition1,0,0,843,694,1091.918037,30,True,True,589.4300000000001,2021-05-08 16:46:54.359429,11
0,2,condition1,0,0,1227,616,1372.947559,30,True,True,1249.097,2021-05-08 16:47:24.343058,1
1,2,condition1,0,0,555,495,743.673315,30,False,False,NaN,2021-05-08 16:47:25.471938,1
2,2,condition1,0,0,1032,643,1215.924751,30,True,False,NaN,2021-05-08 16:47:26.527699,1
3,2,condition1,0,0,1217,610,1361.318846,30,True,True,2923.754,2021-05-08 16:47:27.530408,2
4,2,condition1,0,0,1229,610,1372.057215,30,True,True,797.601,2021-05-08 16:47:28.568309,3
5,2,condition1,0,0,1221,599,1360.015441,30,True,True,942.987,2021-05-08 16:47:29.681022,4
6,2,condition1,0,0,1264,600,1399.176901,30,True,True,654.774,2021-05-08 16:47:30.527856,5
7,2,condition1,0,0,1233,604,1372.991260,30,True,True,807.124,2021-05-08 16:47:31.503472,6
8,2,condition1,0,0,1249,615,1392.201853,30,True,True,694.369,2021-05-08 16:47:32.311440,7
9,2,condition1,0,0,1228,616,1373.841330,30,True,True,831.641,2021-05-08 16:47:33.263886,8
10,2,condition1,0,0,1220,627,1371.688376,30,True,True,870.317,2021-05-08 16:47:34.247711,9
11,2,condition1,0,0,1220,617,1367.146298,30,True,True,966.299,2021-05-08 16:47:35.336424,10
12,2,condition1,0,0,1251,595,1385.289139,30,True,True,1143.878,2021-05-08 16:47:36.648885,11

### Filter the data with relevant columns for analysis of reaction time and save the result

In [61]:
filtered_data = pointing_technique_table[["participant_id"]] #, "condition", "distance_to_start_position", "is_target", "reaction_time_in_ms", "round"]]
filtered_data.to_csv("filtered_data.csv", index=False)
filtered_data
# TODO this is not working

    participant_id
0                1
1                1
2                1
3                1
4                1
5                1
6                1
7                1
8                1
9                1
10               1
11               1
12               1
13               1
14               1
0                2
1                2
2                2
3                2
4                2
5                2
6                2
7                2
8                2
9                2
10               2
11               2
12               2

### Filter the data so that only the reaction times when the user clicked the target are included

In [41]:
# TODO correct reaction
# correct_reaction_times = filtered_data[filtered_data["is_target"]]
# correct_reaction_times = correct_reaction_times[["participant_id", "condition", "distance_to_start_position", "reaction_time_in_ms"]]
# correct_reaction_times.to_csv('correct_reaction_times.csv', index=False)

## Visualizations

appropriate visualizations that indicate absolute and relative pointing performance (task completion times, errors) of pointing
technique and standard pointer behavior and of individual participants

## Results

summary statistics and visualizations that show whether the initial hypotheses seem to be correct.