# Pointing Technique Study

## Design and Procedure

We conduct a study in which we measure the task completion time of a user to click the correct circle under different conditions. 

The conditions are presented in a counter-balanced order:
- The user gets big circles with no distractions
- The user gets small circles with no distractions
- The user gets big circles with circle color flicker
- The user gets small circles with circle color flicker
- The user gets big circles with circle color and background flicker
- The user gets small circles with circle color and background flicker

For each condition the user has to click the correct circle as fast as possible. The mouse position is set to the lower left corner of the window for all tasks. One task is finished when the user clicks the correct circle. Each condition is repeated five times.
In our test configuration the correct circle color is red. The other circles are black. The color flicker circle is yellow. The normal background color is orange. The background flicker switches between orange and yellow.

Each left mouse button click is logged with the following data:
- participant id
- condition
- pointer type
- start and clicked mouse position
- distance to start position
- numbers of circles
- diameter of the circles
- timestamp
- task completion time
- if the correct target is clicked
- if a circle is clicked

## Pointing Technique
TODO what is our pointing technique

## Hypotheses
Our hypotheses are that the task completion time should increase if the user is distracted, if the target sizes are smaller and if the position of the target to the start point is longer. If the user has a lot of distractions the task completion time should also increase. 
Furthermore the usage of the novel pointer should reduce the task completion time for the different conditions.

## Variables
Therefore our dependent variable is the task completion time which is measured in milliseconds via left mouse click logging. The independent variables are the conditions (with their circle size, color and distractions) and the pointing technique. As control variables we document the mouse as a pointer, application size (800 x 600 pixel) and global position (center).

## Participants
Due to the current pandemic situation and limited time the selection of participants is limited to two female media informatics master students with the ages of 22 and 25.

# Pointing Technique Analayis

## Structured Analysis
### Import all relevant libraries

In [30]:
import pandas as pd

### All csv column names and csv items that are used more than once as variables

In [32]:
PARTICIPANT_ID = "participant_id"
CONDITION = "condition"
POINTER_TYPE = "pointer_type"
DISTANCE_TO_START_POSITION = "distance_to_start_position"

CIRCLE_COUNT = "circle_count"
CIRCLE_SIZE = "circle_size"
CIRCLE_CLICKED = "is_circle_clicked"
IS_TARGET = "is_target"

TASK_COMPLETION_TIME = "task_completion_time_in_ms"

# TODO some other strings that are used more than once

### Read csv file

In [33]:
# TODO participants table
raw_data_1 = pd.read_csv("./test.csv")
raw_data_2 = pd.read_csv("./test2.csv")
# raw_data_3 = pd.read_csv("./participant_2_normal_pointer.csv")
# raw_data_4 = pd.read_csv("./participant_2_novel_pointer.csv")

### Combine the individual tables of the participants and save them

In [34]:
pointing_technique_table = pd.concat([
    raw_data_1,
    raw_data_2
    # raw_data_3,
    # raw_data_4
])

pointing_technique_table.to_csv("pointing_technique_table.csv", index=False)

pointing_technique_table

,participant_id,condition,pointer_type,mouse_start_x_position,mouse_start_y_position,mouse_clicked_x_position,mouse_clicked_y_position,distance_to_start_position,circle_count,is_circle_clicked,is_target,task_completion_time_in_ms,timestamp,round
0,1,condition1,normal pointer,0,0,461,199,502.117516,30,False,False,NaN,2021-05-09 15:43:50.801630,0
1,1,condition1,normal pointer,0,0,637,448,778.763764,30,True,True,2655.443,2021-05-09 15:43:52.097854,1
2,1,condition1,normal pointer,0,0,234,295,376.538179,30,False,False,NaN,2021-05-09 15:43:53.112863,1
3,1,condition1,normal pointer,0,0,130,330,354.682957,30,False,False,NaN,2021-05-09 15:43:53.785409,1
4,1,condition2,normal pointer,0,0,911,474,1026.935733,30,True,True,1813.719,2021-05-09 15:43:54.408810,2
5,1,condition3,normal pointer,0,0,789,685,1044.866499,30,True,True,900.109,2021-05-09 15:43:55.495765,3
6,1,condition1,normal pointer,0,0,699,294,758.311941,30,True,True,678.770,2021-05-09 15:43:56.425305,4
7,1,condition1,normal pointer,0,0,311,305,435.598439,30,False,False,NaN,2021-05-09 15:43:56.956314,4
8,1,condition1,novel pointer,0,0,898,530,1042.738702,30,True,True,793.601,2021-05-09 15:43:57.380001,5
9,1,condition2,novel pointer,0,0,623,479,785.856221,30,True,True,359.833,2021-05-09 15:43:58.083109,6
10,1,condition3,novel pointer,0,0,888,452,996.417583,30,True,True,473.117,2021-05-09 15:43:58.859454,7
11,1,condition1,novel pointer,0,0,746,724,1039.563370,30,True,True,584.618,2021-05-09 15:43:59.619080,8
12,1,condition2,novel pointer,0,0,726,276,776.692990,30,True,True,608.116,2021-05-09 15:44:00.482085,9
13,1,condition3,novel pointer,0,0,931,520,1066.377513,30,True,True,1314.163,2021-05-09 15:44:01.923113,10
0,2,condition1,normal pointer,0,0,936,451,1038.988450,30,True,True,287.354,2021-05-09 15:46:30.649392,1
1,2,condition2,normal pointer,0,0,671,477,823.267879,30,True,True,800.911,2021-05-09 15:46:31.744957,2
2,2,condition3,normal pointer,0,0,691,302,754.112061,30,True,True,726.012,2021-05-09 15:46:32.528188,3
3,2,condition3,normal pointer,0,0,904,512,1038.922519,30,True,True,533.669,2021-05-09 15:46:33.184224,4
4,2,condition1,normal pointer,0,0,289,479,559.430067,30,False,False,NaN,2021-05-09 15:46:33.889324,4
5,2,condition1,novel pointer,0,0,820,701,1078.796088,30,True,True,944.390,2021-05-09 15:46:34.330471,5
6,2,condition2,novel pointer,0,0,1051,495,1161.734049,30,True,False,NaN,2021-05-09 15:46:35.160051,5
7,2,condition3,novel pointer,0,0,874,450,983.044251,30,True,True,886.921,2021-05-09 15:46:35.505342,6
8,2,condition1,novel pointer,0,0,699,455,834.041965,30,True,True,487.498,2021-05-09 15:46:36.243226,7
9,2,condition2,novel pointer,0,0,723,294,780.490231,30,True,True,714.057,2021-05-09 15:46:36.994667,8
10,2,condition3,novel pointer,0,0,962,517,1092.123162,30,True,True,472.738,2021-05-09 15:46:37.529851,9
11,2,condition1,novel pointer,0,0,765,741,1065.038027,30,True,True,506.382,2021-05-09 15:46:38.244045,10

### Filter the data with relevant columns for analysis of task completion time and save the result

In [35]:
filtered_data = pointing_technique_table[
    [PARTICIPANT_ID, CONDITION, DISTANCE_TO_START_POSITION, IS_TARGET, TASK_COMPLETION_TIME, ROUND]]

filtered_data.to_csv("filtered_data.csv", index=False)

filtered_data

,participant_id,condition,distance_to_start_position,is_target,task_completion_time_in_ms,round
0,1,condition1,502.117516,False,NaN,0
1,1,condition1,778.763764,True,2655.443,1
2,1,condition1,376.538179,False,NaN,1
3,1,condition1,354.682957,False,NaN,1
4,1,condition2,1026.935733,True,1813.719,2
5,1,condition3,1044.866499,True,900.109,3
6,1,condition1,758.311941,True,678.770,4
7,1,condition1,435.598439,False,NaN,4
8,1,condition1,1042.738702,True,793.601,5
9,1,condition2,785.856221,True,359.833,6
10,1,condition3,996.417583,True,473.117,7
11,1,condition1,1039.563370,True,584.618,8
12,1,condition2,776.692990,True,608.116,9
13,1,condition3,1066.377513,True,1314.163,10
0,2,condition1,1038.988450,True,287.354,1
1,2,condition2,823.267879,True,800.911,2
2,2,condition3,754.112061,True,726.012,3
3,2,condition3,1038.922519,True,533.669,4
4,2,condition1,559.430067,False,NaN,4
5,2,condition1,1078.796088,True,944.390,5
6,2,condition2,1161.734049,False,NaN,5
7,2,condition3,983.044251,True,886.921,6
8,2,condition1,834.041965,True,487.498,7
9,2,condition2,780.490231,True,714.057,8
10,2,condition3,1092.123162,True,472.738,9
11,2,condition1,1065.038027,True,506.382,10

### Filter the data so that only the reaction times when the user clicked the target are included

In [36]:
# TODO correct reaction is not working
correct_reaction_times = filtered_data[filtered_data[IS_TARGET]]
correct_reaction_times = correct_reaction_times[
    [PARTICIPANT_ID, CONDITION, DISTANCE_TO_START_POSITION, IS_TARGET, TASK_COMPLETION_TIME, ROUND]]
correct_reaction_times.to_csv("correct_reaction_times.csv", index=False)

correct_reaction_times

,participant_id,condition,distance_to_start_position,is_target,task_completion_time_in_ms,round
1,1,condition1,778.763764,True,2655.443,1
4,1,condition2,1026.935733,True,1813.719,2
5,1,condition3,1044.866499,True,900.109,3
6,1,condition1,758.311941,True,678.770,4
8,1,condition1,1042.738702,True,793.601,5
9,1,condition2,785.856221,True,359.833,6
10,1,condition3,996.417583,True,473.117,7
11,1,condition1,1039.563370,True,584.618,8
12,1,condition2,776.692990,True,608.116,9
13,1,condition3,1066.377513,True,1314.163,10
0,2,condition1,1038.988450,True,287.354,1
1,2,condition2,823.267879,True,800.911,2
2,2,condition3,754.112061,True,726.012,3
3,2,condition3,1038.922519,True,533.669,4
5,2,condition1,1078.796088,True,944.390,5
7,2,condition3,983.044251,True,886.921,6
8,2,condition1,834.041965,True,487.498,7
9,2,condition2,780.490231,True,714.057,8
10,2,condition3,1092.123162,True,472.738,9
11,2,condition1,1065.038027,True,506.382,10

## Visualizations
appropriate visualizations that indicate absolute and relative pointing performance (task completion times, errors) of pointing
technique and standard pointer behavior and of individual participants

## Results
summary statistics and visualizations that show whether the initial hypotheses seem to be correct.