# Pointing Technique Study

a short documentation of your test design (pointing technique, hypotheses, variables, participants)

We conduct a study in which we measure the reaction time of a user to click the correct circle. 


TODO describe conditions

Counter balanced

## Setup

## Pointing Technique

TODO what is our pointing technique

## Hypotheses

## Variables

## Participants

### Import all relevant libraries

In [1]:
import pandas as pd

# Pointing Technique Analayis

## Structured Analysis
a structured analysis of your test results (i.e., programmatically reading in the CSV files, grouping data by conditions, etc.)

### Read csv file

In [8]:
# TODO participants table
raw_data_1 = pd.read_csv("./test.csv")
raw_data_2 = pd.read_csv("./test2.csv")

### Combine the individual tables of the participants and save them

In [9]:
pointing_technique_table = pd.concat([
    raw_data_1,
    raw_data_2,
])

pointing_technique_table.to_csv(
    "pointing_technique_table.csv",
    # sep = ',', 
    # names=['participant_id', 'condition', 'distance_to_start_position', 'is_target'],
    index=False
)

pointing_technique_table

,participant_id,condition,mouse_start_x_position,mouse_start_y_position,mouse_clicked_x_position,mouse_clicked_y_position,distance_to_start_position,circle_count,is_circle_clicked,is_target,reaction_time_in_ms,timestamp,round
0,1,condition1,0,0,525,556,764.696672,30,False,False,NaN,2021-05-08 21:10:51.807662,0
1,1,condition1,0,0,1106,689,1303.056791,30,True,False,NaN,2021-05-08 21:10:52.654305,0
2,1,condition1,0,0,881,418,975.133324,30,True,True,4575.923,2021-05-08 21:10:53.919315,1
3,1,condition1,0,0,869,433,970.901643,30,True,True,734.808,2021-05-08 21:10:55.168353,2
4,1,condition1,0,0,914,428,1009.247244,30,True,True,814.595,2021-05-08 21:10:56.272697,3
5,1,condition1,0,0,905,442,1007.168804,30,True,True,597.097,2021-05-08 21:10:57.017171,4
6,1,condition1,0,0,918,438,1017.137159,30,True,True,622.870,2021-05-08 21:10:57.857579,5
7,1,condition1,0,0,919,444,1020.635586,30,True,True,758.975,2021-05-08 21:10:58.755157,6
8,1,condition1,0,0,932,555,1084.734530,30,True,False,NaN,2021-05-08 21:10:59.210157,6
9,1,condition1,0,0,884,406,972.775411,30,True,True,790.844,2021-05-08 21:10:59.666318,7
10,1,condition1,0,0,902,449,1007.573819,30,True,True,578.689,2021-05-08 21:11:00.724574,8
11,1,condition1,0,0,906,426,1001.155333,30,True,True,573.594,2021-05-08 21:11:01.426277,9
12,1,condition1,0,0,909,448,1013.402684,30,True,True,2004.554,2021-05-08 21:11:03.697469,10
0,1,condition1,0,0,674,733,995.773569,30,True,True,920.680,2021-05-08 21:11:11.447672,1
1,1,condition1,0,0,635,736,972.070471,30,True,True,1039.416,2021-05-08 21:11:12.575039,2
2,1,condition1,0,0,635,739,974.343882,30,True,True,774.321,2021-05-08 21:11:13.392807,3
3,1,condition1,0,0,652,744,989.262351,30,True,True,593.519,2021-05-08 21:11:14.060569,4
4,1,condition1,0,0,635,744,978.141605,30,True,True,1079.450,2021-05-08 21:11:15.224746,5
5,1,condition1,0,0,748,722,1039.609542,30,True,False,NaN,2021-05-08 21:11:15.753475,5
6,1,condition1,0,0,622,740,966.687126,30,True,True,1183.073,2021-05-08 21:11:16.480567,6
7,1,condition1,0,0,634,728,965.370395,30,True,True,1096.019,2021-05-08 21:11:17.852414,7
8,1,condition1,0,0,620,751,973.858819,30,True,True,680.261,2021-05-08 21:11:18.635227,8
9,1,condition1,0,0,633,731,966.979834,30,True,True,587.776,2021-05-08 21:11:19.295615,9
10,1,condition1,0,0,612,766,980.459076,30,True,True,544.637,2021-05-08 21:11:19.916357,10
11,1,condition1,0,0,635,759,989.598909,30,True,True,504.556,2021-05-08 21:11:20.806860,11

### Filter the data with relevant columns for analysis of reaction time and save the result

In [10]:
filtered_data = pointing_technique_table[
    ["participant_id", "condition", "distance_to_start_position", "is_target", "reaction_time_in_ms", "round"]]

filtered_data.to_csv("filtered_data.csv", index=False)

filtered_data

,participant_id,condition,distance_to_start_position,is_target,reaction_time_in_ms,round
0,1,condition1,764.696672,False,NaN,0
1,1,condition1,1303.056791,False,NaN,0
2,1,condition1,975.133324,True,4575.923,1
3,1,condition1,970.901643,True,734.808,2
4,1,condition1,1009.247244,True,814.595,3
5,1,condition1,1007.168804,True,597.097,4
6,1,condition1,1017.137159,True,622.870,5
7,1,condition1,1020.635586,True,758.975,6
8,1,condition1,1084.734530,False,NaN,6
9,1,condition1,972.775411,True,790.844,7
10,1,condition1,1007.573819,True,578.689,8
11,1,condition1,1001.155333,True,573.594,9
12,1,condition1,1013.402684,True,2004.554,10
0,1,condition1,995.773569,True,920.680,1
1,1,condition1,972.070471,True,1039.416,2
2,1,condition1,974.343882,True,774.321,3
3,1,condition1,989.262351,True,593.519,4
4,1,condition1,978.141605,True,1079.450,5
5,1,condition1,1039.609542,False,NaN,5
6,1,condition1,966.687126,True,1183.073,6
7,1,condition1,965.370395,True,1096.019,7
8,1,condition1,973.858819,True,680.261,8
9,1,condition1,966.979834,True,587.776,9
10,1,condition1,980.459076,True,544.637,10
11,1,condition1,989.598909,True,504.556,11

### Filter the data so that only the reaction times when the user clicked the target are included

In [13]:
# TODO correct reaction is not working
correct_reaction_times = filtered_data[filtered_data["is_target"]]
correct_reaction_times = correct_reaction_times[["participant_id", "condition", "distance_to_start_position", "reaction_time_in_ms"]]
correct_reaction_times.to_csv("correct_reaction_times.csv", index=False)

correct_reaction_times

,participant_id,condition,distance_to_start_position,reaction_time_in_ms
2,1,condition1,975.133324,4575.923
3,1,condition1,970.901643,734.808
4,1,condition1,1009.247244,814.595
5,1,condition1,1007.168804,597.097
6,1,condition1,1017.137159,622.870
7,1,condition1,1020.635586,758.975
9,1,condition1,972.775411,790.844
10,1,condition1,1007.573819,578.689
11,1,condition1,1001.155333,573.594
12,1,condition1,1013.402684,2004.554
0,1,condition1,995.773569,920.680
1,1,condition1,972.070471,1039.416
2,1,condition1,974.343882,774.321
3,1,condition1,989.262351,593.519
4,1,condition1,978.141605,1079.450
6,1,condition1,966.687126,1183.073
7,1,condition1,965.370395,1096.019
8,1,condition1,973.858819,680.261
9,1,condition1,966.979834,587.776
10,1,condition1,980.459076,544.637
11,1,condition1,989.598909,504.556

## Visualizations

appropriate visualizations that indicate absolute and relative pointing performance (task completion times, errors) of pointing
technique and standard pointer behavior and of individual participants

## Results

summary statistics and visualizations that show whether the initial hypotheses seem to be correct.